*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.8rem;
}
.h1{
    margin-bottom: 2rem ;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    animation: fadeIn 2s ease-in-out;
}
.headerpara{
    max-width: 760px;
    text-align: center;
    color: rgba(67, 65, 65, 0.758);
    font-family: cursive;
    animation: fadeIn 3s ease-in-out;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: rgb(255, 255, 255);
    /* border: 0.25rem solid black; */
    border-radius: 0.75rem;
    gap: 1.5rem;
    /* height: auto; */
}
.items{
    /* border: 2px solid rgb(62, 155, 202); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 0.625rem;
    gap: 0.75rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.items:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
.imag{    
    border-radius: 0.625rem;
    width:21.225rem;
    height: auto;
    max-height: 15rem;
    overflow:scroll;
}
.cards_tittle{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
    max-width: 26rem;
}
.cards_para{
    font-size: 1rem;
    max-width: 20rem;
    margin: auto;
    animation: fadeInUp 1.5s ease-in-out;
}

.authorcards {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #fff;
    padding: 10px;
    /* border: 0.5px solid #ddd; */
    border-radius: 0.25rem;
    width: 80%;
    max-width: 25rem; 
    height: 6rem;
}

.authorinfo {
    display: flex;
    align-items: center; 
    gap: 0.375rem; 
}

.avtarauthor img {
    border-radius: 50%; 
}

.nameauthor {
    display: flex;
    flex-direction: column; 
    font-size: 0.9rem; 
    color: #333;
}

.nameauthor p {
    margin: 0;
}

.category {
    font-size: 0.9rem;
    font-weight: bold;
    color: #666;
    border: 0.313rem solid beige;
    border-radius: 0.031;
    max-width: 9rem;
    width: 6rem;
    text-align: center;
}
a{
    text-decoration: none;
}
.navbar{
    width: 100rem;
    height: 30vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    overflow: auto;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 6rem;
    color: white;
}
h3{
    font-size: 2rem;
    color: white;
    background-color: rgba(255, 166, 0, 0.959);
}
.upperpart{
    display: flex;
    justify-content: space-between;
    width: 96rem;
    padding-top: 1rem;
    position: relative;
}
.lowerpart{
    height: 22rem;

}
.button1{
    background-color: orange;
    height: 5rem;
    width: 13rem;
    text-align: center;
    color: white;
    border-radius: 2rem;
}
#b1a{
    font-size: 2rem;
}
#b1b{
    font-size: 2.2rem;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    text-align: center;
    grid-column-end: 1;
    grid-column-start: 5;
    padding-bottom: 1rem;
}
.pages{
    font-size: 1.7rem;
    color: black;
}








@media (max-width:1580px){
    .cards{
    grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:1160px){
    .cards{
    grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:795px){
    .cards{
    grid-template-columns: repeat(1,1fr);
    }
}